<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <title>{{title}}</title>
    {% endblock %}

<body>
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Welcome to SmartLibrary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if current_user.is_authenticated%}
                <a class="nav-link" href="/add_book">Add book</a>
                {% else %}
                <a class="nav-link" href="/login">Add book</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if current_user.is_authenticated%}
                <a class="nav-link " href="/shopping_cart">Shopping Cart</a>
                {% else %}
                <a class="nav-link" href="/login">Shopping Cart</a>
                {% endif %}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<header id="header-bar" class="header-bar">
    <div class="logo-component">
        <a href="/" title="The Internet Archive's Open Library: One page for every book">
            <div class="logo-txt">
                <img src="/static/img/logo.png"
                     alt="Open Library logo" height=64 width=64/>
            </div>
        </a>
    </div>


    {% if current_user.is_authenticated %}
<ul class="auth-component">
        <li class="hide-me">
    <li><a href="/logout">{{ current_user.name }}</a></li>
    {% else %}
	</ul>
    <ul class="auth-component">
        <li class="hide-me">
        <li><a class="btn primary" href="/login">Log In</a></li>
        <li><a class="btn primary" href="/register">Sign Up</a></li>
    
    {% endif %}
</header>


{% endblock %}
</body>
</html>