<html lang="en">
<head>
{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<title>{{title}}</title>
	{% endblock %}
</head>

<body>
{% block content %}
{{ super() }}

<div id="test-body-mobile">

<h1>Adding a Book</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
	<p>
        {{ form.year_published.label }}<br>
        {{ form.year_published(class="form-control") }}<br>
        {% for error in form.year_published.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
	<p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
	<div class="form-group">
                                    <label for="photo">Добавить картинку</label>
                                    <input type="file" class="form-control-file" id="photo" name="file">
                                </div>
                             

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
{% endblock %}

</body>
</html>
