<html lang="en">
<head>
    {% extends "base.html" %}
    {% block head %}
    {{ super() }}
    <title>{{title}}</title>
    <style>
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #fff;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}




    </style>
    {% endblock %}
</head>

<body>
{% block content %}
{{ super() }}
<h1>Shopping Cart</h1>
{% for item in orders%}
<div id="test-body-mobile">
    <div class="col-md6 border rounded">

        <ul>
            <li><img src="/static/img/{{item.book_id}}.jpg" class="cover" width="260" height="400"
                     align="middle"/></li>
            <li><h2>{{item.book_title}}</h2>
                <h3>ID of order - {{item.order_id}}</h3>
                <h3>Time of delivery - {{item.time}}</h3>
                <h3>Amount - {{item.amount}}</h3>
                <h3>Payment - {{item.sum}}</h3></li>
        </ul>
    </div>
</div>
{% endfor %}</div>
{% endblock %}
</body>
</html>